@mixin font-face($font-family, $font-weight, $font-style, $src-woff-2, $src-woff) {
    @font-face {
      font-family: $font-family;
      font-weight: $font-weight;
      font-style: $font-style;
      src: $src-woff-2, $src-woff;
      font-display: swap;
    }
  }
  
  @include font-face("Manrope", 300, normal, url("../../fonts/Manrope-Light.woff2") format("woff2"), url("../../fonts/Manrope-Light.woff") format("woff"));
  @include font-face("Manrope", 400, normal, url("../../fonts/Manrope-Regular.woff2") format("woff2"), url("../../fonts/Manrope-Regular.woff") format("woff"));
  @include font-face("Manrope", 500, normal, url("../../fonts/Manrope-Medium.woff2") format("woff2"), url("../../fonts/Manrope-Medium.woff") format("woff"));