.news-card {
    list-style-type: none;
    position: relative;
    display: grid;
    margin-right: 15px;
}

.news-card--indent  {
    top: -20px;
    position: relative;
}

.news-card__image {
    display: block;
    object-fit: cover;
}

.news-card__text-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    grid-row: 2;
}

.news-card__date-subcontainer {
    background-color: #f0efe9;
    width: 94px;
    padding: 12px 12px 6px 0;
    --nb-w: -8px;
    --nb-r: 12px;
    --nb-h: 4px;

}

.news-card__date {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    color: $secondary-color;
    margin: 0;
}

.news-card__text-subcontainer-title {
    width: 216px;
    background-color: #f0efe9;
    padding: 10px 18px 4px 0;
    --nb-w: -8px;
    --nb-r: 12px;
    --nb-h: 24px;
}

.news-card__text-title {
    font-size: 16px;
    line-height: 18px;
    color: $secondary-color;
    font-weight: 400;
    margin: 0;
}

.news-card__text-subcontainer-description {
    width: 279px;
    background-color: #f0efe9;
    padding: 12px 10px 10px 0;
    --nb-w: -8px;
    --nb-r: 12px;
    --nb-h: 40px;
}

.news-card__text-subcontainer-description p {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    width: 213px;
}
