.news__container {
  padding: 50px 15px;
  overflow: hidden;
}

.news__title {
  font-size: 20px;
  color: $secondary-color;
  font-weight: 400;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.news__navigation-list {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  display: flex;
  column-gap: 11px;
}

.news__navigation-item {
  list-style-type: none;

}

.news__navigation-button {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  color: $secondary-color;
  opacity: 0.6;
  border: none;
  padding: 12px 15px;
  font-weight: 500;
  font-family: $manrope;
}

.news__navigation-button--active {
  border-radius: 20px;
  outline: 2px #316DC2 solid;
  outline-offset: -2px;
  padding: 12px 16px 12px 17px;
  opacity: 1;
}

.news__slider-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  margin-bottom: 4px;
}

.news__slider-list li:nth-child(odd) .news-card__image {
    height: 330px;
}

.news__pagination-container {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.news__pagination-button-arrow {
  mask-image: url(/__spritemap#sprite-button-arrow-view);
  width: 8px;
  height: 8px;
  background-color: $secondary-color;
  transform: rotate(45deg);
  mask-repeat: no-repeat;
  border: none;
  padding: 0;
  top: 61px;
  right: 23px;
}

.news__pagination-button-arrow--left {
  transform: rotate(225deg);
  right: 51px;
}

.news__pagination-button-arrow:disabled {
  background-color: #a9afb7;
}

.news__pagination-wrapper {
  display: flex;
  column-gap: 16px;
  min-width: 152px;
  justify-content: center;
}

.news__pagination-button {
  color: $secondary-color;
  opacity: 0.5;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  border-radius: 50%;
  border: none;
  width: 26px;
  height: 26px;
  font-family: $manrope;
}

.news__pagination-button--active {
  background-color: $secondary-color;
  width: 26px;
  height: 26px;
  color: #ffffff;
  opacity: 1;
  transition: 0.5s ease;
}

@media (min-width: $tablet-width) {
    .news__container {
        padding: 50px 45px;
    }

    .news__title {
        font-size: 34px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    
    .news__navigation-list {
        column-gap: 10px;
        margin-bottom: 30px;
    }

    .news__navigation-button {
        font-size: 14px;
        line-height: 14px;
        padding: 16px 20px;
        letter-spacing: 0.28px;
    }

    .news__navigation-button--active {
        padding: 16px 24px;
    }

    .news__slider-container {
        overflow: hidden;
    }

    .news__slider-list {
        margin: 0;
    }

    .news__slider-list li:nth-child(odd) .news-card__image {
        height: 350px;
    }

    .news__slider-list li:nth-child(4n+2) {
        grid-column: 2/3;
    }

    .news__pagination-wrapper {
        column-gap: 20px;
    }

    .news__pagination-button {
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        width: 32px;
        height: 32px;
    }

    .news__pagination-button--active {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: $desktop-width) {
    .news__container {
        padding: 60px 100px;
    }
    
    .news__title{
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 40px;
    }

    .news__navigation-list {
        justify-content: center;
        column-gap: 30px;
        margin-bottom: 40px;
    }

    .news__navigation-item {
        display: flex;
    }

    .news__navigation-button {
        padding: 0;
        width: 120px;
        align-items: center;
    }

    .news__navigation-button--active {
        padding: 16px 35px;
    }

    .news__slider-list {
        display: flex;
        margin-bottom: 40px;
    }

    .news__slider-list .news__slider-item:nth-child(3) .news-card__text-subcontainer-description {
        width: 260px;
    }

    .news__slider-list .news__slider-item:nth-child(3) .news-card__text-subcontainer-description p {
        margin-right: 20px;
    }
}